body {
    /* 1. Point to the background image */
    background-image: url('/images/DrumsColour.jpg');
    /* 2. Size image to cover the entire body */
    background-size: cover;
    /* 3. Keep the image centered */
    background-position: center center;
    /* 4. Keep background fixed */
    background-attachment: fixed;
    /* 5. Insert backup color for when image fails to load */
    background-color: #1E201E;

    /* 6. Text Default to white */
    color: #ffffff;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}